footer{
    padding: 30px 60px 30px 60px;
    background-color: rgb(8, 129, 8);
}

.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.copyright{
    margin-right: 3rem;
}