*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 80px;
    background-color: rgb(8, 129, 8);
    color: white;
}
.title h1{
    letter-spacing: .5px;
    color: white;

}

.nav-links, .nav-links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.nav-links ul li a{
    margin: 0 5px;
    border-radius: 14px;
    padding: 9px 13px;
    color: rgb(255, 255, 255);
    letter-spacing: .5px;
    transition: 0.5s;
}

.nav-links ul li a:hover{
      background-color: rgb(253, 255, 253);
      color: rgb(7, 110, 16);
}

.message{
    position: absolute;
    top: 105px;
    left: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    background-color: deeppink;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    letter-spacing: .6px;}

.message button{
    margin-top: 15px;
    padding: 9px 16px;
    border-radius: 20px;
    border: none;
    background-color: white;
}