{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/doctors.css' %}">
    <link rel="stylesheet" href="{% static 'css/departments.css' %}">
    <link rel="stylesheet" href="{% static 'css/appointment.css' %}">

</head>
<body>

    <header>
        <div class="title">
            <a href="{% url 'home' %}"><h1>Global Hospital</h1></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'enquery' %}">Enquery</a></li>

            </ul>
        </div>
    </header>

    {% if messages %}
    <div id="message" class="message">
        {% for message in messages %}
        <p>{{message}}</p>
        <button id="ok">Ok</button>
        {% endfor %}
    </div>
        {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-title">
            <div class="copyright"><h3>© Global Hospital</h3></div>
            <div class="social-media">
                <p>Facebook <br> Instagram <br> </p>
            </div>
        </div>
    </footer>
<script src="{% static 'js/home.js' %}"></script>
</body>
</html>