{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>

    <header>
        <div class="title">
            <a href="{% url 'home' %}"><h1>Global Hospital</h1></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'enquery' %}">Enquery</a></li>

            </ul>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-title">
            <h3>Global Hospital</h3>
        </div>
    </footer>

</body>
</html>